In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df=pd.read_csv('Coding Class 1/FlorenceN.csv')

In [4]:
df

,Zymotic diseases_y,trace3_y,x,Wounds & injuries_y,trace4_y,All other causes_y,trace5_y
0,1,1854-04-01,0,5,NaN,NaN,NaN
1,12,1854-05-01,0,9,NaN,NaN,NaN
2,11,1854-06-01,0,6,NaN,NaN,NaN
3,359,1854-07-01,0,23,NaN,NaN,NaN
4,828,1854-08-01,1,30,NaN,NaN,NaN
5,788,1854-09-01,81,70,NaN,NaN,NaN
6,503,1854-10-01,132,128,NaN,NaN,NaN
7,844,1854-11-01,287,106,NaN,NaN,NaN
8,1725,1854-12-01,114,131,NaN,NaN,NaN
9,2761,1855-01-01,83,324,NaN,NaN,NaN
10,2120,1855-02-01,42,361,NaN,NaN,NaN
11,1205,1855-03-01,32,172,NaN,NaN,NaN
12,477,1855-04-01,48,57,NaN,NaN,NaN
13,508,1855-05-01,49,37,NaN,NaN,NaN
14,802,1855-06-01,209,31,NaN,NaN,NaN
15,382,1855-07-01,134,33,NaN,NaN,NaN
16,483,1855-08-01,164,25,NaN,NaN,NaN
17,189,1855-09-01,276,20,NaN,NaN,NaN
18,128,1855-10-01,53,18,NaN,NaN,NaN
19,178,1855-11-01,33,32,NaN,NaN,NaN
20,91,1855-12-01,18,28,NaN,NaN,NaN
21,42,1856-01-01,2,48,NaN,NaN,NaN
22,24,1856-02-01,0,19,NaN,NaN,NaN
23,15,1856-03-01,0,35,NaN,NaN,NaN